.card {
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #d4cfcf;
    border-right: 5px solid #d4cfcf;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #acabab;
    border-radius: 4px;
  }
  
  .form-control {
    border-color: #aaaaaa;
  }